{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block main %}
    {% block body %}
        <div class="fodmap">
            <div class="emptyUseful"></div>
            <div class="container text-center">
                <h1 class="mb-3 textPurpleBasic ">Bobo-bidon</h1>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se
                                déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="h4 mb-3 font-weight-normal">Connectez-vous ! </h1>
                    <div class="d-flex flex-column align-items-center">
                        <div>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control"
                                   required autofocus>
                        </div>
                        <div class="mt-4">
                            <label for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control " required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}">
                        </div>
                    </div>

                    <div class="checkbox mt-4">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" checked> Se souvenir de moi
                        </label>
                    </div>
                    <button class="btn btn-lg btn-bobo mt-4" type="submit">
                        Connexion
                    </button>
                </form>

                <p class="mt-4">Pas encore inscrit-e ?</p>
                    <div>
                        <a href="{{ path('app_register') }}">Créez un compte</a>
                    </div>
            </div>
            <div class="emptyUseful"></div>
        </div>
    {% endblock %}
{% endblock %}
