{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main %}
    {% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        <div>
            Vous pourrez renseigner les informations suivantes plus tard en vous rendant sur votre profil
        </div>
        {{ form_widget(registrationForm) }}

        <button class="btn btn-lg btn-primary">Inscription</button>
    {{ form_end(registrationForm) }}

    <div>
        Déjà inscrit-e ?
        <a class="nav-link" href="{{ path('app_login') }}"> Connectez-vous</a>
    </div>
    {% endblock %}
{% endblock %}
