{% extends 'base.html.twig' %}
{% block title %}Modification du mot de passe{% endblock %}
{% block main %}
    {% block body %}
        <div class="fodmap">
            <div class="emptyUseful"></div>
            <div class="container text-center">
                <h1 class="h3 mb-3 font-weight-normal">Modifier mon mot de passe</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-flex justify-content-center">
                    <button class="btn btn-lg btn-bobo">{{ button_label|default('Modifier') }}</button>
                </div>
                {{ form_end(form) }}
                <a href="{{ path('profile', {'user' : app.user.id}) }}">Retour au profil</a>
            </div>
        </div>
    {% endblock %}
{% endblock %}
