{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-center">
        <div class="card-body">
            <img src="{{ asset('build/images/undraw_cookie_love.png') }}" style="max-width:50%"/>
            <h4 class="textPurpleDark my-4">Ajoutez vos Aliments</h4>
            {{ form_start(form) }}
            {{ form_row(form.date) }}
            {{ form_row(form.time) }}

            <h5 class="textPurpleDark mt-4 mb-2">Catégorie : </h5>
            <p class="mb-1">(Sélectionnez une catégorie pour filtrer la liste d'aliments) </p>
            {{ form_row(form.category) }}

            <div class="d-flex align-items-center justify-content-between">
                <h5 class="textPurpleDark mt-4">Aliment : </h5>
                <img id="loader" src="{{ asset('build/images/loader.gif') }}" style="display: none" alt="loader"/>
            </div>

            {{ form_row(form.food) }}

            <button type="button" id="add_food_link" class="btn bgPurpleBasic text-white mb-2">Ajouter à la liste</button>

            <div class="foods" data-prototype="{{ form_widget(form.foods.vars.prototype)|e('html_attr') }}">
                {% for food in form.foods %}
                    <p>{{ form_row(food.name) }}</p>
                {% endfor %}
            </div>
            <button class="btn btn-lg btn-bobo mt-2">{{ button_label|default('Enregistrer') }}</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('addFoodForm') }}
{% endblock %}