{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}

{% block body %}
    <h1>Liste des aliments</h1>

    <div class="d-flex container justify-content-center p-5">

        <div>{{ form_start(form) }}</div>
        <div>{{ form_widget(form) }}</div>
        <div>
            <button class="btn btn-outline-warning">
                Chercher
            </button>
        </div>
        <div>{{ form_end(form) }}</div>
    </div>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Fodmap</th>
                <th>Catégorie</th>
                <th>Oligos</th>
                <th>Fructose</th>
                <th>Polyols</th>
                <th>Lactose</th>
            </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{% if food.fodmap == 'low' %}<i class="fas fa-check-circle textPinkMediumLight"></i> {% else %}<i class="fas fa-times-circle textPurpleDark"></i> {% endif %}</td>
                <td>{{ food.category.name }}</td>
                <td>{{ food.oligos }}</td>
                <td>{{ food.fructose }}</td>
                <td>{{ food.polyols }}</td>
                <td>{{ food.lactose }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
