{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}

{% block body %}
    <h1>Liste des aliments</h1>

    <a class="btn btn-bobo" href="{{ path('food_new') }}">Ajouter</a>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Fodmap</th>
                <th>Catégorie</th>
                <th>Oligos</th>
                <th>Fructose</th>
                <th>Polyols</th>
                <th>Lactose</th>
            </tr>
        </thead>
        <tbody>
        {% for food in foods %}
            <tr>
                <td>{{ food.name }}</td>
                <td>{% if not food.isHighFodmap %}<i class="fas fa-check-circle textPinkMediumLight"></i> {% else %}<i class="fas fa-times-circle textPurpleDark"></i> {% endif %}</td>
                <td>{{ food.category.name }}</td>
                <td>{{ food.oligos }}</td>
                <td>{{ food.fructose }}</td>
                <td>{{ food.polyols }}</td>
                <td>{{ food.lactose }}</td>
                <td>
                    <a href="{{ path('food_show', {'id': food.id}) }}">show</a>
                    <a href="{{ path('food_edit', {'id': food.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
