{% extends 'base.html.twig' %}

{% block title %}Aliments{% endblock %}

{% block body %}
    <h1>Liste des aliments</h1>

    <a class="btn btn-bobo mb-2" href="{{ path('food_new') }}">Ajouter</a>

    <div class="card">

        <table class="table table-striped text-center">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Fodmap</th>
                <th>Catégorie</th>
                <th>Oligos</th>
                <th>Fructose</th>
                <th>Polyols</th>
                <th>Lactose</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for food in foods %}
                <tr>
                    <td>{{ food.id }}</td>
                    <td>{{ food.name }}</td>
                    <td>
                        <i class="fas {{ food.isHighFodmap ? 'fa-times-circle textPurpleDark' : 'fa-check-circle textPinkMediumLight' }}"></i>
                    </td>
                    <td>{{ food.category.name }}</td>
                    <td>{{ food.oligos }}</td>
                    <td>{{ food.fructose }}</td>
                    <td>{{ food.polyols }}</td>
                    <td>{{ food.lactose }}</td>
                    <td>
                        <a href="{{ path('food_show', {'id': food.id}) }}">Voir</a>
                        <a href="{{ path('food_edit', {'id': food.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun résultat</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
