{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-center">
        <div class="card-body">
            <img src="{{ asset('build/images/undraw_booked.png') }}" style="max-width:50%"/>

            <h4 class="textPurpleDark my-4">Ajouter vos Symptômes</h4>
            {{ form_start(form) }}
            {{ form_row(form.date) }}
            {{ form_row(form.time) }}
            <h5 class="textPurpleDark mt-4 mb-2">Symptômes : </h5>
            {{ form_row(form.symptoms) }}
            <button class="btn btn-lg btn-bobo mt-2">{{ button_label|default('Ajouter') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
