{% extends 'base.html.twig' %}

{% block body %}

    <div class="row justify-content-center">

        {% if weeksWithSymptoms %}
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-around align-items-center mb-2">
                        <h4>Historique de symptômes</h4>
                        <img src="{{ asset('build/images/undraw_booked.png') }}" style="max-width:40%"/>
                    </div>
                    <div class="col-12 text-center">
                        <a class="btn btn-lg btn-bobo my-3"
                           href="{{ path('add_user_symptom', {'user' : app.user.id}) }}">Ajouter
                            symptômes</a>
                    </div>
                </div>
            </div>
            {% for key, symptoms in weeksWithSymptoms %}
                <div class="col-12 col-lg-5">
                    <div class="card mb-2">
                        <div class="card-header bgPurpleMediumLight">
                            <h5>Semaine {{ key }}</h5>
                        </div>
                        <div class="card-body">
                            {% if symptoms %}
                                {% for symptom in symptoms %}
                                    <p><b>{{ symptom.symptom.name }}</b> le {{ symptom.date|date('d/m/Y') }}
                                        à {{ symptom.time|date('H:i') }}</p>
                                {% endfor %}
                            {% else %}
                                <p>Pas de symptôme enregistré cette semaine</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12 col-lg-5">
                {% include '_diet_error.html.twig' %}
            </div>
        {% endif %}

    </div>

{% endblock %}
