{% extends 'base.html.twig' %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-10 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <canvas id="dietProgression"
                        data-week-length="{{ dashboard1.weeks_data|length }}"
                        {% for data_week in dashboard1.weeks_data %}
                            data-week-{{ loop.index }} ="{{ data_week }}"
                        {% endfor %}
                ></canvas>
            </div>
            <div class="card-footer text-center">
                <p>{{ dashboard1.message }}</p>
                {% if dashboard1.category %}
                    <p>Catégorie d'aliments :
                        <span class="textPurpleMediumDark font-weight-bold">{{ dashboard1.category.name }}</span>
                    </p>
                {%  endif %}
            </div>
        </div>
    </div>
    <div class="col-10 col-lg-6">
        <div class="card">
            <div class="card-body">
                <canvas id="categories"
                        data-categories-length="{{ dashboard2.categories_labels|length }}"
                        {% for data_label in dashboard2.categories_labels %}
                            data-label-{{ loop.index }} ="{{ data_label }}"
                        {% endfor %}
                        {% for data_symptom in dashboard2.nbSymptomsPerWeek %}
                            data-symptom-{{ loop.index }} ="{{ data_symptom }}"
                        {% endfor %}
                ></canvas>
            </div>
            <div class="card-footer text-center">
                <p>Catégorie qui a entraîné le plus de symptômes :</p>
                <p class="textPurpleMediumDark font-weight-bold">{{ dashboard2.worst_category.name }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}