{% extends 'base.html.twig' %}

{% block body %}
<div class="row justify-content-center mb-2">
    <div class="col-10 col-lg-6 text-center">
        <h3 class="textPurpleBasic">Bonjour {{ app.user.firstname }} !</h3>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-10 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <canvas id="dietProgression"
                        data-days-length="{{ dashboard1.days_data|length }}"
                        {% for data_days in dashboard1.days_data %}
                            data-days-{{ loop.index }} ="{{ data_days }}"
                        {% endfor %}
                ></canvas>
            </div>
            <div class="card-footer text-center">
                <p>{{ dashboard1.message }}</p>
                {% if dashboard1.category %}
                    <p>Catégorie d'aliments :
                        <a href="{{ path('category_public', {'id' : dashboard1.category.id}) }}">{{ dashboard1.category.name }}</a>
                    </p>
                {%  endif %}
            </div>
        </div>
    </div>
    {% if dashboard2 and dashboard2.worst_category %}
        <div class="col-10 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <canvas id="categories"
                            data-categories-length="{{ dashboard2.categories_labels|length }}"
                            {% for data_label in dashboard2.categories_labels %}
                                data-label-{{ loop.index }} ="{{ data_label }}"
                            {% endfor %}
                            {% for data_symptom in dashboard2.nbSymptomsPerWeek %}
                                data-symptom-{{ loop.index }} ="{{ data_symptom }}"
                            {% endfor %}
                    ></canvas>
                </div>
                <div class="card-footer text-center">
                    <p>Catégorie qui a entraîné le plus de symptômes :</p>
                        <a href="{{ path('category_public', {'id' : dashboard2.worst_category.id}) }}">{{ dashboard2.worst_category.name }}</a>
                </div>
            </div>
        </div>
    {% endif %}
</div>

    {% if fromRegistration %}
    <!-- Modal -->
    <div class="modal fade" id="homeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <h5 class="modal-title">Bienvenue sur bobo-bidon !</h5>
                </div>
                <div class="modal-body">
                    <img src="{{ asset('build/images/undraw_balloons.png') }}" style="max-width:80%"/>
                </div>
                <div class="modal-footer">
                    <p>Si vous ne l'avez pas encore fait, pensez à renseigner la date de début de votre régime sur votre profil !</p>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">C'est fait !</button>
                    <a class="btn btn-bobo"
                       href="{{ path('profile', {'user' : app.user.id}) }}">Mon profil</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('homeModal') }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}