{% extends 'base.html.twig' %}

{% block body %}
<div class="text-center mb-2">
    <a class="btn btn-lg btn-bobo" href="{{ path('add_user_symptom', {'user' : app.user.id}) }}">Ajouter un sympt么me</a>
</div>

<div class="accordion" id="accordionCharts">
    <div class="card">
        <div class="card-header text-center" id="headingOne">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseWeeks" aria-expanded="false" aria-controls="collapseTwo">
                Sympt么mes par semaine
            </button>
        </div>
        <div id="collapseWeeks" class="collapse" aria-labelledby="headingOne" data-parent="#accordionCharts">
            <div class="card-body">
                <div class="mb-5 chart-container">
                    <canvas id="symptomsPerWeek"
                            data-week-length="{{ label_weeks|length }}"
                            {% for key, data_week in label_weeks %}
                                data-week-label-{{ loop.index }}="{{ key }}"
                                data-week-{{ loop.index }} ="{{ data_week }}"
                            {% endfor %}
                            {% for key, data_symptom in nb_symptoms_per_week %}
                                data-symptom-label-{{ loop.index }}="{{ key }}"
                                data-symptom-{{ loop.index }} ="{{ data_symptom }}"
                            {% endfor %}
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center" id="headingTwo">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSymptoms" aria-expanded="false" aria-controls="collapseTwo">
                Choix sympt么me
            </button>
        </div>
        <div id="collapseSymptoms" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCharts">

            <div class="card-body">
                <div class="symptomButtons row mb-3">
                    {% for symptom in all_symptoms %}
                            <button class="btn btn-light symptomButton col-4 col-lg-2"
                                    data-symptom-id="{{ symptom.id }}"
                                    data-symptom-name="{{  symptom.name }}">
                                {{ symptom.name }}
                            </button>
                    {% endfor %}
                </div>
                <div class="mb-5 chart-container">
                    <canvas id="perSymptom"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center" id="headingThree">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseDays" aria-expanded="false" aria-controls="collapseOne">
                Sympt么mes par jour
            </button>
        </div>
        <div id="collapseDays" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCharts">
            <div class="card-body">
                <div class="mb-5 chart-container">
                    <canvas id="symptomsPerDay"
                            data-day-length="{{ label_days|length }}"
                            {% for key, data_day in label_days %}
                                data-day-label-{{ loop.index }}="{{ key }}"
                                data-day-{{ loop.index }} ="{{ data_day }}"
                            {% endfor %}
                            {% for key, data_symptom in nb_symptoms_per_day %}
                                data-symptom-label-{{ loop.index }}="{{ key }}"
                                data-symptom-{{ loop.index }} ="{{ data_symptom }}"
                            {% endfor %}
                    ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('charts') }}
{% endblock %}
