{% extends 'base.html.twig' %}

{% block title %} Régime {% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Mon régime</h1>
    </div>

    <ul class="timeline">
        {% for week in weeks %}
            <li class="{{ loop.index is odd ? '' : 'timeline-inverted' }}">
                <div class="timeline-badge"><i class="fas fa-times-circle"></i></div>
                <div class="timeline-panel {{ week.status }}">
                    {% if week.category_id %}
                        <a href="{{ path('category_public', {'id' : week.category_id}) }}">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Semaine {{ week.week_nb }} {{ week.status == 'in-progress' ? '<b> en cours</b>': '' }}</h4>
                            </div>
                            <div class="timeline-body">
                                <p>{{ week.message }}</p>
                            </div>
                        </a>
                    {% else %}
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Semaine {{ week.week_nb }} </h4>
                        </div>
                        <div class="timeline-body">
                            <p>{{ week.message }}</p>
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
