{% extends 'base.html.twig' %}

{% block title %} {{ user.firstname ~ ' ' ~ user.lastname }} {% endblock %}

{% block body %}
    <div class="profilePictureOverflow">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12">
                <div class="card">
                    <div class="card-header bgBlueMediumLight text-white">
                        <h4>{{ user.firstname }} {{ user.lastname }}</h4>
                    </div>
                    <div class="card-body d-flex flex-column flex-lg-row justify-content-around align-items-center">
                        {% if user.pictureName %}
                            <div class="mb-5">
                                <img src="/upload/pictures/{{ user.pictureName }}" class="profilePictureOverflow"
                                     alt="Profile picture">
                            </div>
                        {% endif %}
                        <div>
                            <p>Ton email : <strong>{{ user.email }}</strong></p>
                            <p>Ton âge : <strong>{{ user.age }}</strong></p>
                            <p>Ton poids : <strong>{{ user.weight }}</strong></p>
                            <p>Membre depuis le : <strong>{{ user.createdAt|date('d/m/Y') }}</strong></p>
                            <p>Début du régime le :
                                <strong>{{ user.startDate ? user.startDate|date('d/m/Y') : '' }}</strong></p>
                            <p>Fin du régime le : <strong>{{ user.endDate ? user.endDate|date('d/m/Y') : '' }}</strong>
                            </p>
                        </div>
                    </div>
                    {% if user.id == app.user.id %}
                        <div class="card-footer">
                            <div>
                                <a href="{{ path('edit_profile', {'user' : user.id}) }}">Modifier mon profil</a>
                            </div>
                            <div>
                                <a href="{{ path('reset_password', {'user' : user.id}) }}">Modifier mon mot de
                                    passe</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
